[submodule "research_sources/The-Art-Of-Language"]
	path = research_sources/The-Art-Of-Language
	url = git@github.com:RexRenatus/The-Art-Of-Language.git
[submodule "lib/autoresearch"]
	path = lib/autoresearch
	url = git@github.com:karpathy/autoresearch.git
[submodule "lib/llm-council"]
	path = lib/llm-council
	url = git@github.com:karpathy/llm-council.git
